<div class="container">
  <div class="row justify-content-center mb-4 py-4 gap-5">
    <div class="col-md-4 col-12 text-center mb-3">
      <img
        src="/Images/FeedBackForTeacher.jpg"
        class="img-fluid custom-img"
        alt="Image 1"
      />
      <a routerLink="/TeacherParentfeadback" class="btn system-btn mt-2"
        >أعطاء راى لولى الامر</a
      >
    </div>
    <div class="col-md-4 col-12 text-center mb-3">
      <img
        src="/Images/InsertDegreeForStudent.jpg"
        class="img-fluid custom-img"
        alt="Image 2"
      />
      <a routerLink="/insertdegreeforteacher" class="btn system-btn mt-2"
        >أدخال درجات الطلاب</a
      >
    </div>
  </div>
  <div class="row justify-content-center mb-4 py-4 gap-5">
    <div class="col-md-4 col-12 text-center mb-3">
      <img
        src="/Images/CreateExamForTeacher.jpg"
        class="img-fluid custom-img"
        alt="Image 3"
      />
      <a routerLink="/GetExamFormTeacher" class="btn system-btn mt-2"
        >أنشاء أمتحان</a
      >
    </div>
    <div class="col-md-4 col-12 text-center mb-3">
      <img
        src="/Images/AttendanceTeacher.jpg"
        class="img-fluid custom-img"
        alt="Image 4"
      />
      <a routerLink="/AssigmentandAtandence" class="btn system-btn mt-2"
        >تسجيل الحضور والتاسكات</a
      >
    </div>
  </div>
</div>

<div class="col-md-4 col-12 text-center mb-3 mx-auto">
  <img
    src="/Images/ClassScheduleForTeacher2.jpg"
    class="img-fluid custom-img"
    alt="Image 4"
  />
  <a routerLink="/TeacherCalendar" class="btn system-btn mt-2">جدول الحصص</a>
</div>
