.container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2,
h3,
h4 {
  color: #333;
}

.list-group-item {
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #e9ecef;
}
