<div class="container">
  <div class="row mb-4 py-4">
    <div class="col-md-3 col-12 text-center mb-3">
      <img
        src="/Images/Sessions.jpg"
        class="img-fluid custom-img"
        alt="Image 1"
      />
      <a routerLink="/sessions" class="btn system-btn mt-2">الحصص</a>
    </div>
    <div class="col-md-3 col-12 text-center mb-3">
      <img
        src="/Images/Classes.jpg"
        class="img-fluid custom-img"
        alt="Image 2"
      />
      <a routerLink="/getClassDetails" class="btn system-btn mt-2">الفصول</a>
    </div>
    <div class="col-md-3 col-12 text-center mb-3">
      <img
        src="/Images/Subject.jpg"
        class="img-fluid custom-img"
        alt="Image 3"
      />
      <a routerLink="/Subject" class="btn system-btn mt-2">المواد</a>
    </div>
    <div class="col-md-3 col-12 text-center mb-3">
      <img
        src="/Images/students.jpg"
        class="img-fluid custom-img"
        alt="Image 4"
      />
      <a routerLink="/detailsstudent" class="btn system-btn mt-2">الطلاب</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-12 text-center mb-3">
      <img
        src="/Images/Teachersjpg.jpg"
        class="img-fluid custom-img"
        alt="Image 5"
      />
      <a routerLink="/GetAllTeacher" class="btn system-btn mt-2">المدرسين</a>
    </div>
    <div class="col-md-3 col-12 text-center mb-3">
      <img
        src="/Images/Parents.jpg"
        class="img-fluid custom-img"
        alt="Image 6"
      />
      <a routerLink="/show-parent" class="btn system-btn mt-2">أولياء الامور</a>
    </div>
    <div class="col-md-3 col-12 text-center mb-3">
      <img src="/Images/Exams.jpg" class="img-fluid custom-img" alt="Image 7" />
      <a routerLink="/ExamForAdmin" class="btn system-btn mt-2"
        >امتحانات المعملين</a
      >
    </div>
    <div class="col-md-3 col-12 text-center mb-3">
      <img
        src="/Images/FeedBacks.jpg"
        class="img-fluid custom-img"
        alt="Image 8"
      />
      <a routerLink="/HomeFeedbackAdamin" class="btn system-btn mt-2">الاراء</a>
    </div>
  </div>
</div>
