<div class="container mt-5 m-auto text-center">
  <div class="row">
      <!-- Student Feedback Section -->
      <div class="col-md-4">
          <div class="card h-100">
              <img src="Images/student_Feedback.jpg" class="card-img-top" alt="Student Feedback">
              <div class="card-body">
                  <h5 class="card-title">أراء الطلاب للمعلمين</h5>
                  <a routerLink="/student-feedback" class="btn btn-primary">ادخال</a>
              </div>
          </div>
      </div>

      <!-- Parent Feedback Section -->
      <div class="col-md-4">
          <div class="card h-100">
              <img src="/Images/parent_feedback.jpg" class="card-img-top" alt="Parent Feedback">
              <div class="card-body">
                  <h5 class="card-title">أراي الاباء للمعلم</h5>
                  <a routerLink="/parent-feedback" class="btn btn-primary">ادخال</a>
              </div>
          </div>
      </div>

      <!-- Teacher Feedback Section -->
      <div class="col-md-4">
          <div class="card h-100">
              <img src="/Images/teacher_ferdback.jpg" class="card-img-top" alt="Teacher Feedback">
              <div class="card-body">
                  <h5 class="card-title">  اراي المعلمين للاباء</h5>
                  <a routerLink="/teacher-feedback" class="btn btn-primary">ادخال</a>
              </div>
          </div>
      </div>
  </div>
</div>
