  <header>
    <div class="container-fluid ">
         <div class="row">
            <div class="col-md-6 p-0">
                <div>
                    <img src="Images/basic2.jpg" class="image w-100 p-1 position-relative" height="450">
                    <div class="position-absolute TextOfImage">
                        <p class="text-muted Text_BackGr mt-5"><strong class="fs-4">مجتمع تعليمي متكامل:</strong> شارك في مناقشات جماعية، وتواصل مع أقرانك لبناء شبكة معرفية قوية</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 mt-0  px-0 position-relative">
                        <div>
                            <img src="Images/Testt.jpg" class="w-100 p-1 "  height="225">
                            <div class="position-absolute TextOfImage2 ">
                                <p class="text-muted Text_BackGr">اكتشف محتوى تعليمي ثري يناسب جميع المستويات.</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6 mt-0  px-0 position-relative">
                        <div>
                            <img src="Images/Test1.jpg" class="w-100 p-1" height="225">
                            <div class="position-absolute TextOfImage2">
                                <p class="text-muted Text_BackGr">تعلم في أي وقت نوفر لك تجربة مميزه ومبتكرة </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-0  px-0 position-relative">
                        <div >
                            <img src="Images\Teachersjpg.jpg" class="w-100 p-1" height="225">
                            <div class="position-absolute TextOfImage3">
                                <p class="text-muted Text_BackGr">تواصل مع أفضل المعلمين والخبراء في مجالك </p>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-md-6 mt-0  px-0 position-relative">
                        <div>
                            <img src="Images/basic4.jpg" class="w-100 p-1" height="225">
                        </div>
                        <div class="position-absolute TextOfImage3">
                            <p class="text-muted Text_BackGr">منصتنا مصممة لتزويدك بأحدث الدورات التدريبية</p>
                        </div>
                        
                       
                    </div>
                </div>
               

            </div>
            </div>
         </div>
</header>
<!-- /////////////////////////////////////////////////////////////////////// -->
<div class="container2">
    <div class="welcome-to-website">
        <div class="text2">
            <h1>مرحبًا بك في منصتنا التعليمية!</h1>
        </div>
        <div class="line1"></div>
        <div class="parent">
            <div class="rectangular1">
                <i class="fa-solid fa-school icon1"></i>
                <h2 class="cust1">لنتعلم وننمو معًا!</h2>
                <div class="paragraph1">اختر دورتك المفضلة</div>
                <div class="paragraph2">وابدأ رحلة التعلم الخاصة بك</div>
            </div>
            <div class="rectangular2">
                <i class="fa-solid fa-pencil icon1"></i>
                <h2 class="cust1">دعم مستمر</h2>
                <div class="paragraph1">يتوفر لك دعم فريقنا من المعلمين</div>
                <div class="paragraph2">والمستشارين على مدار الساعة،</div>
            </div>
            <div class="rectangular3">
                <i class="fa-solid fa-user-graduate icon1"></i>
                <h2 class="cust1">تقييم وتحليل الأداء</h2>
                <div class="paragraph1"> نوفر لك أدوات لتقييم تقدمك،</div>
                <div class="paragraph2">مما يساعدك على التعرف على نقاط القوة والضعف</div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
<div class="container5">
    <div class="background-part5">
        <h2 class="why">لماذا عليك اختيارنا</h2>
        <div class="line-why"></div>
        <div class="texts-part5">
            <div class="text1-part5 w-50">
                <strong class="fs-4 farrr rounded-2">محتوى تعليمي متكامل لكل مرحلة دراسية</strong>
                نقدم محتوى دراسيًا متكاملاً ومناسبًا لجميع المراحل التعليمية (الابتدائية، الإعدادية، والثانوية)،
                مصمم بعناية ليغطي كافة المناهج والمواد المطلوبة لضمان تحصيل الطلاب للمعرفة اللازمة بأسلوب مبسط ومشوق.
            </div>
        </div>
        <ul class="quises">
            <li><i class="fa fa-check fa-fw"></i>نركز على تقديم مراجعات دورية، تدريبات على الامتحانات،</li>
            <li><i class="fa fa-check fa-fw"></i>حلول نموذجية تساعد الطلاب على الاستعداد الجيد لاختباراتهم النهائية</li>
            <li><i class="fa fa-check fa-fw"></i>يوفر فريقنا من المعلمين المؤهلين شرحًا وافيًا للمناهج الدراسية عبر فصول دراسية افتراضية</li>
            <li><i class="fa fa-check fa-fw"></i>نوفر وسائل تعليمية حديثة مثل الفيديوهات التفاعلية، الألعاب التعليمية، والتمارين العملية</li>
            <li class="w-50"><i class="fa fa-check fa-fw"></i>دعم مستمر للطلاب وأولياء الأمور: إلى جانب دعم الطلاب، نقدم أدوات تواصل لأولياء الأمور لمتابعة تقدم أبنائهم</li>
            <li class="w-50"><i class="fa fa-check fa-fw"></i>التعلم من المنزل في أي وقت نمنح الطلاب حرية الوصول إلى المواد والدروس في أي وقت ومن أي مكان</li>
        </ul>
        <img [src]="currentImage" alt="صورة" class="img-part5" draggable="false">
        <ul class="list-me">
            <li [ngClass]="{'li1': activeButton === 1, 'li2': activeButton !== 1}" (click)="changeImage(1)"></li>
            <li [ngClass]="{'li1': activeButton === 2, 'li2': activeButton !== 2}" (click)="changeImage(2)"></li>
            <li [ngClass]="{'li1': activeButton === 3, 'li2': activeButton !== 3}" (click)="changeImage(3)"></li>
        </ul>
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
<div class="container6"><div class="overley-part6">
    <ul class="icons-part6">
        <li><i class="fas fa-users icon-user">
                <div class="k">451k</div>
                <div class="happy-client">عملائنا الكرام المتميزين</div>
            </i></li>
        <li><i class="fas fa-trophy icon-user">
                <div class="k12">12</div>
                <div class="happy-client2">الجوائز الحاصلين عليها</div>
            </i></li>
        <li><i class="fa-solid fa-user-graduate icon-user">
                <div class="k">154k</div>
                <div class="happy-client">طلابنا العزاز المتخرجين</div>
            </i></li>
    </ul>
</div>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
<section>
    <div class="container4">
        <div class="parent-part3">
            <div class="text-part3">
                <i class="fas fa-quote-left"></i>
                <div class="text-penelope-market">
                    <h3 class="penelope">منصة تعليم أجيال</h3>
                    <span class="marketing">(التعليم لجميع المراحل)</span>
                </div>
                <div class="paragraph-part3">
                    <p>
                        تقدم منصة تعليم أجيال محتوى تعليمي متكامل 
                        يغطّي جميع المراحل التعليمية (الابتدائية، 
                        الإعدادية، والثانوية) باستخدام تقنيات حديثة 
                           لضمان تجربة تعليمية متميزة.
                    </p>
                </div>
                <div class="lines-part3">
                    <div class="line1-part3"></div>
                    <div class="line2-part3"></div>
                    <div class="line3-part3"></div>
                </div>
            </div>
            <div class="img1-part3">
                <div class="text-discoun-intero">
                    <!-- <h4 class="discounet">خصم 30%</h4> -->
                    <h2 class="intrior">دورات للمرحلة الابتدائية</h2>
                </div>
            </div>
            <div class="img2-part3">
                <div class="text-discoun-intero">
                    <!-- <h4 class="discounet">خصم 30%</h4> -->
                    <h2 class="intrior">دورات للمرحلة الثانوية</h2>
                </div>
            </div>  
        </div>
    </div>
</section>
<!-- /////////////////////////////////////////////////////////////////////// -->
<section class="custom-section mt-4">
    <div class="custom-card">
        <div class="custom-icon">
            <img src="Images/basic8.jpg" class="img-fluid" alt="معلم معتمد">
        </div>
        <h3 class="text-center">معلمين معتمدين</h3>
        <p class="text-center">نقدم لك نخبة من المعلمين المعتمدين والمؤهلين لضمان أفضل تجربة تعليمية</p>
    </div>

    <div class="custom-card">
        <div class="custom-icon">
            <img src="Images/basic10.jpg" alt="تعليم خاص">
        </div>
        <h3 class="text-center">تعليم خاص</h3>
        <p class="text-center">برامج تعليمية مخصصة تلبي احتياجات الطلاب الفردية، مع مراعاة قدراتهم الخاصة.</p>
    </div>

    <div class="custom-card">
        <div class="custom-icon">
            <img src="Images/Sessions_E.jpg" alt="الكتب والمكتبة">
        </div>
        <h3 class="text-center">الكتب والمكتبة</h3>
        <p class="text-center">نوفر مكتبة غنية بالكتب والموارد التعليمية المتنوعة التي تدعم جميع المواد والمراحل</p>
    </div>

    <div class="custom-card">
        <div class="custom-icon">
            <img src="Images/basic9.jpg" alt="شهادات">
        </div>
        <h3 class="text-center">الشهادات</h3>
        <p class="text-center">احصل على شهادات معتمدة تضمن تقدمك المهني والعلمي، مع الاعتراف الدولي.</p>
    </div>
</section>
<!-- /////////////////////////////////////////////////////////////////////// -->
     <!-- ************************************************part-last -->
     <div class="container-last">
        <div class="last-part">
            <img src="Images/Teachersjpg.jpg" alt="football" class="football" draggable="false">
            <ul class="lists-lastpart">
                <li><a href="#"><i class="fab fa-facebook icon-last"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter icon-last"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube icon-last"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in icon-last"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram icon-last"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g icon-last"></i></a></li>
            </ul>
            <p class="last-paragraph">
                copyright &COPY; 2021 . all rights reserved by colorlib 
                <a href="mailto:agail20242023@gmail.com">agail20242023&#64;gmail.com</a>
            </p>
        </div>
    </div>









